//TEXT
$dark-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
//GRADIENTS
$soft-violet-gradient: rgb(175, 103, 233);
$soft-blue-gradient: rgb(101, 101, 231);

//NEUTRAL
$very-dark-blue-text: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$blue-divider: hsl(240, 5%, 91%);